body:before {
  display: block;
  content: '';
  height: 60px;
}

ul{
  list-style: none;
}

.btn{
  font-size: 1.2rem !important;
  text-transform: uppercase;
}

.btn-warning{
  color: rgb(31, 29, 0);
  font-weight: bold;
}


@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
@media (min-width: 520px) {
  .news-input {
    width: 100%;
  }
}
